old-services/protocollo-service/src/main/resources/wsdl/scatel/Segnatura.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Romanazzi (TECNOPOLIS CSATA) -->
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by M (M) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- 
Segnatura 
Si compone di tre sezioni, di cui due obbligatorie (Intestazione e Descrizione) ed una opzionale (Riferimenti): 
- la sezione Intestazione contiene i dati identificativi e le informazioni fondamentali del messaggio; 
- la sezione Riferimenti contiene le informazioni relative al contesto generale di cui il messaggio fa parte; 
- la sezione Descrizione contiene le informazioni descrittive riguardanti il contenuto del messaggio. 

Gli attributi della Segnatura definiscono la versione di riferimento del formato ed il linguaggio usato nella definizione 
dei valori testuali. In questa versione della DTD l'attributo "versione" ha valore fisso, pari alla data di prima pubblicazione, 
espressa in formato ISO 8601 esteso (i.e. aaaa-mm-gg). L'attributo standard xml:lang ha come valore fisso il token "it" 
(codice standard ISO 639) ed indica l'uso della lingua italiana come default per il contenuto testuale degli elementi XML. 
-->
	<xs:element name="Segnatura">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InOut" minOccurs="0"/>
				<xs:element ref="Intestazione"/>
				<xs:element ref="Riferimenti" minOccurs="0"/>
				<xs:element ref="Descrizione"/>
				<xs:element ref="TipoOperazione" minOccurs="0"/>
				<xs:element ref="UtenteOperazione" minOccurs="0"/>
				<xs:element ref="DataModifica" minOccurs="0"/>
				<xs:element ref="ProvvedimentoModifica" minOccurs="0"/>
				<xs:element ref="ProtocolloMittente" minOccurs="0"/>
				<xs:element ref="ProtocolloEmergenza" minOccurs="0"/>
				<xs:element ref="DataArrivo" minOccurs="0"/>
				<xs:element ref="RiferimentoArrivo" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="versione" type="xs:NMTOKEN" fixed="2001-05-07"/>
			<xs:attribute name="lang" fixed="it"/>
		</xs:complexType>
	</xs:element>
	<!--
 Intestazione 
 L'elemento Intestazione e` obbligatorio nella Segnatura Informatica e contiene gli elementi essenziali di identificazione e 
 caratterizzazione amministrativa del Messaggio Protocollato. L'elemento Intestazione contiene anche le informazioni relative alla 
 trasmissione del messaggio, sia dal punto di vista telematico che amministrativo. 
-->
	<xs:element name="Intestazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Identificatore"/>
				<xs:element ref="PrimaRegistrazione" minOccurs="0"/>
				<xs:element ref="OraRegistrazione" minOccurs="0"/>
				<xs:element ref="Origine"/>
				<xs:element ref="Destinazione" maxOccurs="unbounded"/>
				<xs:element ref="PerConoscenza" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Riservato" minOccurs="0"/>
				<xs:element ref="Oggetto" minOccurs="0"/>
				<xs:element ref="Classifica" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Note" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Identificatore 
Un elemento Identificatore contiene le informazioni identificative minime di protocollo, ai sensi del d.P.R. 445/2000. 
L'elemento Identificatore inserito al primo livello nell'Intestazione riporta i dati dell'Identificatore di Registrazione del 
Messaggio Protocollato. Nelle altre posizioni in cui viene utilizzato nella DTD esso riporta i dati di un generico Identificatore di 
 Protocollo il cui significato e` desumibile dal contesto. 

Regole aggiuntive 
 - un CodiceAmministrazione e` codificato mediante i caratteri previsti dalla specifica ISO 646 (US-ASCII a 7 bit) ed e` composto 
 di lettere maiuscole ([A-Z]), lettere minuscole ([a-z]), cifre decimali ([0-9]) e dal carattere '-'; 
 - un CodiceAmministrazione deve avere una lunghezza non superiore a 8 caratteri. 
 - un CodiceAOO e` codificato mediante i caratteri previsti dalla specifica ISO 646 (US-ASCII a 7 bit) ed e` composto da una sequenza 
 di lettere maiuscole ([A-Z]), lettere minuscole ([a-z]), cifre decimali ([0-9]) e dal carattere '-'; 
 - un CodiceAOO deve avere una lunghezza non superiore a 8 caratteri. 
 - il NumeroRegistrazione deve essere sempre formato da sette cifre decimali, con giustificazione mediante zeri (e.g. il numero 1 
 deve essere codificato come 0000001); 
 - la DataRegistrazione deve essere in formato ISO 8601 esteso (i.e. aaaa-mm-gg). 

 Regole di corrispondenza 
 - il CodiceAmministrazione deve essere un codice valido ai sensi del d.P.R. 445/2000 e del d.P.C.M 31/10/2000; 

 - il CodiceAOO deve corrispondere ad un codice valido attribuito dalla amministrazione di cui la AOO fa parte (come previsto dal 
 d.P.R. 445/2000 e dal d.P.C.M 31/10/2000). 
-->
	<xs:element name="Identificatore">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodiceAmministrazione"/>
				<xs:element ref="CodiceAOO"/>
				<xs:element ref="NumeroRegistrazione"/>
				<xs:element ref="DataRegistrazione"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodiceAmministrazione" type="xs:string"/>
	<xs:element name="CodiceAOO" type="xs:string"/>
	<xs:element name="NumeroRegistrazione" type="xs:string"/>
	<xs:element name="DataRegistrazione" type="xs:string"/>
	<!--
 PrimaRegistrazione 
 La PrimaRegistrazione si riferisce all'Identificatore di Registrazione primario, cioe` attribuito per primo ad un Documento 
 Protocollato che viene ritrasmesso piu` volte. 
 Regole di corrispondenza 
 - la PrimaRegistrazione deve essere specificata solo se non coincide con l'Identificatore del Messaggio Protocollato. 
-->
	<xs:element name="PrimaRegistrazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Identificatore"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 OraRegistrazione 

 L'elemento OraRegistrazione riporta l'ora di creazione della Registrazione di Protocollo del Messaggio Protocollato. 

 L'attributo tempo descrive il tipo di misurazione temporale utilizzata. 
 Il token "locale" indica il tempo locale non sincronizzato del sistema dove la Registrazione di Protocollo e` stata creata. 
 Il token "rupa" indica il tempo sincronizzato di RUPA. 

 Regole aggiuntive 
 - l'OraRegistrazione deve essere in formato ISO 8601 esteso (i.e. hh:mm:ss[,ddd] - ad esempio 16:09:19,710; 
 si noti che l'indicazione dei millisecondi e` opzionale). 
-->
	<xs:element name="OraRegistrazione">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="tempo" default="locale">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="locale"/>
								<xs:enumeration value="rupa"/>
								<xs:enumeration value="NMTOKEN"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--
Origine 
L'elemento Origine riporta i dati telematici ed amministrativi del mittente del Messaggio Protocollato. 
Regole di corrispondenza 
 - la descrizione dell'Origine deve essere specificata nel modo piu` completo possibile. 
-->
	<xs:element name="Origine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IndirizzoTelematico" minOccurs="0"/>
				<xs:element ref="Mittente" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Destinazione 
Ciascun elemento Destinazione contiene i dati telematici ed amministrativi di un singolo destinatario del Messaggio Protocollato. 
Regole di corrispondenza 
- se la Destinazione del Messaggio Protocollato e` una pubblica amministrazione l'IndirizzoTelematico indicato deve corrispondere 
a quello della casella istituzionale della AOO destinataria, ai sensi dell'art. 15 comma 3 del d.P.C.M. 31/10/00. 
-->
	<xs:element name="Destinazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IndirizzoTelematico" minOccurs="0"/>
				<xs:element ref="Destinatario" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 PerConoscenza 
 Ciascun elemento PerConoscenza contiene i dati telematici ed 
 amministrativi di un destinatario per conoscenza del Messaggio 
 Protocollato. 
 Regole di corrispondenza 
 - se la destinazione PerConoscenza del Messaggio Protocollato e` una 
 pubblica amministrazione l'IndirizzoTelematico indicato deve 
 corrispondere a quello della casella istituzionale della AOO 
 destinataria. 
-->
	<xs:element name="PerConoscenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IndirizzoTelematico" minOccurs="0"/>
				<xs:element ref="Destinatario" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 IndirizzoTelematico 
 Un IndirizzoTelematico contiene un indirizzo, ad esempio di posta elettronica, utilizzato per la trasmissione telematica. 
 L'attributo tipo di indirizzo telematico specificato. 
 Il token "smtp" indica un indirizzo SMTP, il token "uri" indica la specifica di un indirizzo telematico tramite la sintassi delle URI. 
 Il formato libero (NMTOKEN) e` da utilizzarsi per l'indicazione di tipo di sistemi di messaging diversi da quelli utilizzati su internet 
 (e.g. sistemi proprietari). 
 Regole aggiuntive 
 - il contenuto dell'elemento IndirizzoTelematico di tipo "smtp" deve essere sintatticamente conforme a quanto previsto dalla 
 specifica pubblica RFC 822; 
 - il contenuto dell'elemento IndirizzoTelematico di tipo "uri" deve essere sintatticamente conforme a quanto previsto dalla specifica pubblica RFC 1738. 
 Regole di corrispondenza 
 - non e` ammesso l'uso del tipo "uri" per l'indicazione di un indirizzo SMTP (i.e. tramite una URI "mailto:"); 
 - qualunque sia il tipo di protocollo di trasporto telematico adottato, la specifica di un IndirizzoTelematico deve essere completa e non ambigua. 
-->
	<xs:element name="IndirizzoTelematico">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="tipo" default="smtp">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="smtp"/>
								<xs:enumeration value="uri"/>
								<xs:enumeration value="NMTOKEN"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="note" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--
 Riservato 
 L'elemento Riservato esprime la richiesta di trattamento riservato del Messaggio Protocollato. Puo` contenere un testo che descrive i 
 motivi della richiesta 
-->
	<xs:element name="Riservato" type="xs:string"/>
	<!--
 Oggetto 
 L'elemento Oggetto contiene la descrizione testuale dell'oggetto del messaggio. 
 La descrizione testuale contenuta nell'elemento Oggetto dovrebbe essere significativa e dovrebbe avere una lunghezza congrua, tipicamente almeno 30 caratteri. 
-->
	<xs:element name="Oggetto" type="xs:string"/>
	<!--
 Classifica 
 L'elemento Classifica contiene l'indicazione di una Classifica. 
 Inserito al primo livello nell'Intestazione, l'elemento Classifica indica la Classifica del Messaggio Protocollato. 
 Nelle altre posizioni in cui viene utilizzato nella DTD tale elemento indica una Classifica attribuibile all'elemento che ne costituisce 
 il contesto. 
-->
	<xs:element name="Classifica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodiceAmministrazione" minOccurs="0"/>
				<xs:element ref="CodiceAOO" minOccurs="0"/>
				<xs:element ref="Denominazione" minOccurs="0"/>
				<xs:element ref="Livello" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Denominazione" type="xs:string"/>
	<xs:element name="Livello">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="nome" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--
Identificativo 
Un Identificativo e` un codice che consente di identificare univocamente un'entita` dal punto di vista amministrativo 
La forma dell'Identificativo puo` essere stabilita dalla amministrazione che lo attribuisce. Un Identificativo deve essere 
compatibile con la formazione di un identificativo telematico come URI, cioe` Uniform Resource Identifier (RFC 1738). 
Regole aggiuntive 
- un Identificativo e` codificato mediante i caratteri previsti dalla specifica ISO 646 (US-ASCII a 7 bit) ed e` composto da una sequenza 
di lettere maiuscole ([A-Z]), lettere minuscole ([a-z]), cifre decimali ([0-9]) e dai caratteri '.', '-' e '_'. 
- un Identificativo deve avere una lunghezza non superiore a 32 caratteri. 
-->
	<xs:element name="Identificativo" type="xs:string"/>
	<!--
 Note 
 Un elemento Note contiene delle note esplicative in formato testuale. All'interno dell'elemento Note non e` consentito l'inserimento di testo altrimenti strutturato, ad esempio un frammento di codice XML.
-->
	<xs:element name="Note" type="xs:string"/>
	<!--
 Mittente 
 La descrizione di un mittente o destinatario istituzionale in forma estesa e strutturata si configura come la descrizione di un percorso 
 all'interno di una struttura organizzativa. Il formato di descrizione di tale percorso e` compatibile con lo schema dell'indice delle pubbliche amministrazioni previsto dal 
 d.P.C.M. 31/10/00. 
 E` comunque prevista la possibilita` di descrizioni non strutturate, cioe` interamente testuali, di parte o di tutti gli elementi coinvolti al fine di garantire la compatibilita` con sistemi informatici realizzati che utilizzano dati in forma non strutturata o in una forma strutturata non compatibile con quella descritta. 
 Se utilizzata, la descrizione testuale non deve tuttavia contenere forme di strutturazione surrettizia (e.g. uso di "comma-separated values"). Il ricorso a descrizioni testuali non strutturate andrebbe evitato qualora possibile. L'elemento Mittente descrive il mittente del Messaggio Protocollato. 
 Regole di corrispondenza 
 - la Denominazione della AOO mittente deve corrispondere al CodiceAOO indicato nell'Identificatore del Messaggio Protocollato; 
 - la Denominazione della AOO mittente deve corrispondere all'IndirizzoTelematico della casella istituzionale indicata nel Mittente. 
-->
	<xs:element name="Mittente">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Persona" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="Amministrazione" minOccurs="0"/>
					<xs:element ref="AOO" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="Denominazione" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--
 Destinatario 
 L'elemento Destinatario descrive un destinatario del Messaggio Protocollato. 
 Regole aggiuntive 
 - la descrizione del Destinatario deve includere come minimo la Denominazione della Amministrazione oppure una Denominazione 
 generica oppure il riferimento ad una Persona fisica. 

 Regole di corrispondenza 
 - qualora specificata, la Denominazione della AOO destinataria deve corrispondere all'IndirizzoTelematico della casella istituzionale 
 indicata nel Mittente. 

 Si noti che la specifica del Destinatario e` opzionale e pertanto l'inserimento di un simile elemento privo di informazioni significative e` inutile. 
-->
	<xs:element name="Destinatario">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="Amministrazione" minOccurs="0"/>
						<xs:element ref="AOO" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="Persona" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Denominazione" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="IndirizzoTelematico" minOccurs="0"/>
				<xs:element ref="Telefono" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Fax" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="IndirizzoPostale" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Amministrazione 

 Un elemento Amministrazione rappresenta l'elemento radice della descrizione estesa e strutturata di un mittente o destinatario 
 istituzionale, inteso come percorso all'interno di una struttura organizzativa. 

 Regole aggiuntive 
 - il CodiceAmministrazione dovrebbe essere incluso solo quando l'elemento Amministrazione compare nel contesto di un elemento 
 Destinatario. 
-->
	<xs:element name="Amministrazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Denominazione"/>
				<xs:element ref="CodiceAmministrazione" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="UnitaOrganizzativa" minOccurs="0"/>
					<xs:sequence>
						<xs:element ref="Ruolo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Persona" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="IndirizzoPostale"/>
						<xs:element ref="IndirizzoTelematico" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Telefono" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Fax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 UnitaOrganizzativa 
 Un elemento UnitaOrganizzativa rappresenta un elemento nel percorso che costituisce della descrizione di un indirizzo. 

 L'attributo tipo descrive il tipo di unita` organizzativa. 
 Un'unita` organizzativa temporanea potrebbe essere infatti istituita in una amministrazione a fronte di eventi speciali o per emergenza. 
-->
	<xs:element name="UnitaOrganizzativa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Denominazione"/>
				<xs:element ref="Identificativo" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="Ruolo" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Persona" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="IndirizzoPostale"/>
					<xs:element ref="IndirizzoTelematico" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Telefono" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Fax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="tipo" default="permanente">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="permanente"/>
						<xs:enumeration value="temporanea"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--
 AOO 
 Un elemento AOO specifica la Denominazione ed eventualmente il CodiceAOO. Non e` necessario che tale specifica contenga altre 
 informazioni dato il contesto in cui questo elemento puo` essere inserito. 

 Regole aggiuntive 
 - il CodiceAOO dovrebbe essere incluso solo quando l'elemento AOO compare nel contesto di un elemento Destinatario. 
-->
	<xs:element name="AOO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Denominazione"/>
				<xs:element ref="CodiceAOO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Ruolo 
 Un elemento Ruolo contiene la specifica del ruolo ricoperto da una persona fisica. 
-->
	<xs:element name="Ruolo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Denominazione"/>
				<xs:element ref="Identificativo" minOccurs="0"/>
				<xs:element ref="Persona" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Persona 
 Un elemento Persona contiene la specifica di un riferimento ad una persona fisica. 
-->
	<xs:element name="Persona">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="Denominazione" minOccurs="0"/>
					<xs:sequence>
						<xs:element ref="Nome" minOccurs="0"/>
						<xs:element ref="Cognome" minOccurs="0"/>
						<xs:element ref="Titolo" minOccurs="0"/>
						<xs:element ref="CodiceFiscale" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="Identificativo" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="rife" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Nome" type="xs:string"/>
	<xs:element name="Cognome" type="xs:string"/>
	<xs:element name="Titolo" type="xs:string"/>
	<xs:element name="CodiceFiscale" type="xs:string"/>
	<!--
 IndirizzoPostale 

 Un IndirizzoPostale indica tipicamente la sede di un'unita` organizzativa o amministrazione o l'indirizzo di un cittadino o altro 
 ente esterno alla pubblica amministrazione. 
 
 L'attributo dug (i.e. Denominazione Urbanistica Generica) dell'elemento Toponimo consente di definire informazioni come "Via", 
 "Viale" o "Piazza", mentre il contenuto testuale dell'elemento ne indica il toponimo (e.g. "Verdi", "XX Settembre"). 

 Regole aggiuntive 
 - il valore dell'attributo opzionale codiceISTAT dell'elemento Comune deve essere formato da sei cifre decimali con giustificazione mediante zeri(e.g. "018190"); 
 - il valore testuale dell'elemento opzionale Nazione indica la codifica internazionale della nazione specificata nell'indirizzo 
 in formato standard ISO 3166-1-Alpha-2. Qualora l'elemento non sia presente o il suo valore non specificato la nazione va interpretata 
 come Italia identificata dal codice "IT"; la lunghezza per questo elemento e' pari a 2 caratteri; 
 - il valore testuale dell'elemento Provincia deve essere formato da due lettere maiuscole (e.g. "RM" per Roma, "PA" per Palermo, etc.); 
 - il valore testuale dell'elemento Civico qualora si riferisca ad un indirizzo privo del numero civico deve contenere l'espressione "snc". 
-->
	<xs:element name="IndirizzoPostale">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Denominazione" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="Toponimo" minOccurs="0"/>
					<xs:element ref="Civico" minOccurs="0"/>
					<xs:element ref="CAP" minOccurs="0"/>
					<xs:element ref="Comune" minOccurs="0"/>
					<xs:element ref="Provincia" minOccurs="0"/>
					<xs:element ref="Nazione" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Toponimo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dug" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Civico" type="xs:string"/>
	<xs:element name="CAP" type="xs:string"/>
	<xs:element name="Comune">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="codiceISTAT" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provincia" type="xs:string"/>
	<xs:element name="Nazione" type="xs:string"/>
	<xs:element name="Telefono">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="note" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fax">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="note" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--
 Riferimenti 

 L'elemento opzionale Riferimenti contiene i riferimenti ad altri 
 Messaggi Protocollati e/o Contesti Procedurali (o in particolare a 
 Procedimenti). 
-->
	<xs:element name="Riferimenti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Messaggio" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Procedimento" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Messaggio 

 Un elemento Messaggio indica un riferimento ad un Messaggio. 

 Regole di corrispondenza 
 - nella indicazione di un riferimento ad un Messaggio Protocollato deve essere usato l'Identificatore attribuito dalla AOO mittente; 
 - deve anche essere specificato l'Identificatore di prima registrazione, come definito precedentemente, se e solo se esso non coincide con il precedente. 
-->
	<xs:element name="Messaggio">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="Identificatore" minOccurs="0"/>
					<xs:element ref="DescrizioneMessaggio" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="PrimaRegistrazione" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 DescrizioneMessaggio 
 Un elemento DescrizioneMessaggio descrive un riferimento ad un Messaggio non protocollato. 

 Regole di corrispondenza 
 - l'elemento DescrizioneMessaggio deve essere utilizzato solo per i riferimenti a Messaggi non protocollati; 
 - la DescrizioneMessaggio riporta i dati identificativi di trasmissione (e.g. i dati SMTP). 
-->
	<xs:element name="DescrizioneMessaggio" type="xs:string"/>
	<xs:element name="DataAvvio" type="xs:string"/>
	<!--
 Procedimento 
 Un elemento Procedimento indica un riferimento ad un Procedimento (ai sensi della l. 241/90) ed e` formalmente identico all'elemento 
 ContestoProcedurale, con l'aggiunta degli elementi Responsabile e DataTermine. 

 Regole aggiuntive 
 - la DataTermine deve essere in formato ISO 8601 esteso (i.e. aaaa-mm-gg). 

 Regole di corrispondenza 
 - la forma dell'Identificativo puo` essere stabilita dalla AOO che lo attribuisce, tuttavia il contenuto di tale elemento deve 
 essere sufficiente per l'identificazione univoca del corrispondente Procedimento. 
-->
	<xs:element name="Procedimento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodiceAmministrazione"/>
				<xs:element ref="CodiceAOO"/>
				<xs:element ref="Identificativo"/>
				<xs:element ref="TipoProcedimento" minOccurs="0"/>
				<xs:element ref="Oggetto" minOccurs="0"/>
				<xs:element ref="Classifica" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Responsabile" minOccurs="0"/>
				<xs:element ref="DataAvvio" minOccurs="0"/>
				<xs:element ref="DataTermine" minOccurs="0"/>
				<xs:element ref="Note" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="rife" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoProcedimento" type="xs:string"/>
	<xs:element name="Responsabile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Persona"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataTermine" type="xs:string"/>
	<!--
 Descrizione 
 L'elemento opzionale Descrizione contiene la descrizione strutturata del contenuto del Messaggio Protocollato. 

 L'elemento Documento si riferisce al Documento primario del Messaggio protocollato se questo viene inviato da una AOO di una amministrazione
 ad una AOO di una diversa amministrazione. In tal caso il Documento deve essere sottoscritto secondo le norme stabilite dal d.P.R. 445/2000. 

 I Documenti primari riguardanti scambi tra AOO della stessa amministrazione possono essere indicati nell'elemento Documento o, 
 in alternativa, nell'elemento TestoDelMessaggio. Se indicati nell'elemento Documento possono eventualmente essere sottoscritti secondo 
 le modalità espresse nell'art. 5 della delibera AIPA 51/2000.
  Regole aggiuntive 
 - l'elemento Descrizione deve essere presente in una Segnatura Informatica, in quanto permette di interpretare la struttura MIME 
 che rappresenta il Messaggio Protocollato. 
-->
	<xs:element name="Descrizione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Documento"/>	
				<xs:element ref="Allegati" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Note" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
 Documento

 Un elemento Documento specifica un riferimento ad un Documento che costituisce parte integrante del Messaggio Protocollato. 
 L'indicazione dei riferimento a Documenti rappresenta un aspetto cruciale per l'efficacia delle indicazioni tecniche specifiche qui contenute. 

 Si possono avere tre tipi di riferimenti, definiti dal valore  dell'attributo tipoRiferimento di Documento: 
 1) "MIME":  riferimento a un Documento Informatico contenuto nella struttura MIME che costituisce il messaggio; 
 2) "telematico": riferimento esterno a un Documento Informatico comunque reperibile per altra via (e.g. in un repositorio condiviso); 
 3) "cartaceo": riferimento esterno a un Documento Cartaceo trasmesso per via  tradizionale (e.g. spedizione postale o tramite posta interna). 

 Gli attributi id e nome di Documento caratterizzano dal punto vista tecnico il riferimento al Documento effettivo. Il significato degli attributi varia a seconda del tipo di riferimento. 
In particolare: 
 - Per i riferimenti di tipo "MIME", il valore dell'attributo nome  corrisponde al valore del parametro filename dell'attributo Content-Disposition o, in subordine, al valore del parametro name  dell'attributo Content-Type specificato per una body part della struttura MIME. L'attributo id puo` essere utilizzato allo scopo di definire un identificatore univoco del riferimento nell'ambito della struttura XML. 
 - Nel caso di un riferimento di tipo "telematico" l'attributo id puo`  essere utilizzato allo scopo di definire un identificatore univoco del riferimento nell'ambito della struttura XML. 
 - Nel caso di un riferimento di tipo "cartaceo" il valore dell'attributo id corrisponde al valore dell'identificativo del 
 Documento Cartaceo e deve essere sempre specificato per i Documenti Cartacei non protocollati, che non hanno quindi un Identificatore di Registrazione riportato nell'elemento PrimaRegistrazione. Nel caso di un Documento Cartaceo privo di identificativo, l'attributo id puo` essere specificato al solo scopo di definire un identificatore univoco del riferimento nell'ambito della struttura XML. Viceversa, l'attributo nome non ha alcun significato e non deve quindi essere utilizzato. 

 L'attributo tipoMIME va utilizzato solo per riferimenti a Documenti Informatici. 

 Regole aggiuntive 
 - devono essere rispettate le regole sopra descritte per l'uso degli attributi di Documento. 

 Regole di corrispondenza 
 - devono essere rispettate le regole di corrispondenza sopra descritte per il significato dei valori degli attributi di Documento. 
-->
	<xs:element name="Documento">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="CollocazioneTelematica" minOccurs="0"/>
					<xs:element ref="Impronta" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="ImprontaMIME" minOccurs="0"/>
				<xs:element ref="TitoloDocumento" minOccurs="0"/>
				<xs:element ref="PrimaRegistrazione" minOccurs="0"/>
				<xs:element ref="TipoDocumento" minOccurs="0"/>
				<xs:element ref="Oggetto" minOccurs="0"/>
				<xs:element ref="Classifica" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NumeroPagine" minOccurs="0"/>
				<xs:element ref="Note" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="rife" type="xs:IDREF"/>
			<xs:attribute name="nome" type="xs:string" use="required"/>
			<xs:attribute name="tipoMIME" type="xs:string"/>
			<xs:attribute name="tipoRiferimento" default="MIME">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DM"/>
						<xs:enumeration value="MIME"/>
						<xs:enumeration value="telematico"/>
						<xs:enumeration value="cartaceo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--
 TitoloDocumento 
 L'elemento opzionale TitoloDocumento contiene l'indicazione del titolo esteso del documento a scopo amministrativo. 
-->
	<xs:element name="TitoloDocumento" type="xs:string"/>
	<!--
 TipoDocumento 
 L'elemento opzionale TipoDocumento contiene l'indicazione del tipo di documento dal punto di vista amministrativo (e.g. circolare, nota informativa). 
-->
	<xs:element name="TipoDocumento" type="xs:string"/>
	<!--
 NumeroPagine 
 L'elemento opzionale NumeroPagine contiene l'indicazione del numero delle pagine che compongono il documento 
-->
	<xs:element name="NumeroPagine" type="xs:string"/>
	<!--
 CollocazioneTelematica, Impronta 
 Un riferimento esterno di tipo "telematico" comporta la specificazione di un riferimento esterno come URI, cioe` Uniform 
 Resource Identifier (RFC 1738), all'interno di un elemento di tipo CollocazioneTelematica. Ad un riferimento esterno di questo tipo puo` 
 anche essere associata un'impronta. 

 Regole aggiuntive 
 - un elemento CollocazioneTelematica ed, eventualmente, Impronta deve essere presente in un Documento se e solo se il valore 
 dell'attributo tipoRiferimento e` "telematico". 
 - il contenuto dell'elemento CollocazioneTelematica deve essere sintatticamente conforme a quanto previsto dalla specifica pubblica RFC 1738. 

 Regole di corrispondenza 
 - l'Impronta, se presente, deve corrispondere al Documento Informatico indicato nell'elemento CollocazioneTelematica. 

 Si assume comunque che l'accettazione in ingresso di Messaggi Protocollati che contengono riferimenti esterni a Documenti 
 Informatici costituisca una scelta di gestione da parte dell'AOO ricevente. Pertanto, tale accettazione potrebbe essere limitata ad 
 alcuni mittenti istituzionali o negata del tutto. Di quest'aspetto deve essere contenuta indicazione nel manuale di gestione della AOO. 
-->
	<xs:element name="CollocazioneTelematica" type="xs:string"/>
	<xs:element name="Impronta">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="algoritmo" type="xs:string" fixed="SHA-1"/>
					<xs:attribute name="codifica" type="xs:string" fixed="base64"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ImprontaMIME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="algoritmo" type="xs:string" fixed="SHA-1"/>
					<xs:attribute name="codifica" type="xs:string" fixed="base64"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!--
 Allegati 
 L'elemento opzionale Allegati contiene una lista di elementi Documento o Fascicolo. Lo scopo di tale lista e` quello di fornire 
 una descrizione, possibilmente strutturata, dei Documenti allegati al Documento primario. 
 Piu` precisamente, il contenuto dell'elemento Allegati ha due scopi: 
 1) descrivere l'elenco dei Documenti allegati; 
 2) descrivere la struttura dal punto di vista amministrativo del Messaggio Protocollato, in termini di organizzazione in Fascicoli dei Documenti inclusi. 
 E` quindi anche possibile che, nella descrizione della struttura, si faccia riferimento piu` volte allo stesso Documento, incluso il 
 Documento primario (e.g. Documenti logicamente appartenenti a piu` di un Fascicolo). 

 Regole di corrispondenza 
 - la citazione multipla di uno stesso Documento nella descrizione strutturale contenuta in Allegati deve essere resa utilizzando il 
 meccanismo XML degli ID/IDREF. In altri termini, il riferimento effettivo al Documento deve essere specificato una sola volta e 
 accompagnato dalla definizione dell'attributo id di Documento; gli altri riferimenti vengono specificati utilizzando l'attributo rife. 

 Si veda in proposito anche la definizione dell'elemento Documento descritta precedentemente. 
-->
	<xs:element name="Allegati">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Documento" minOccurs="0"/>
				<xs:element ref="Fascicolo" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--
 Fascicolo 
 Un elemento Fascicolo descrive l'aggregazione di Documenti o altri Fascicoli. 
-->
	<xs:element name="Fascicolo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodiceAmministrazione" minOccurs="0"/>
				<xs:element ref="CodiceAOO" minOccurs="0"/>
				<xs:element ref="Oggetto" minOccurs="0"/>
				<xs:element ref="Identificativo" minOccurs="0"/>
				<xs:element ref="Classifica" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Note" minOccurs="0"/>
				<xs:element ref="Documento" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="rife" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<!--
 MessaggioRicevuto 
L'elemento MessaggioRicevuto contiene la descrizione del messaggio ricevuto. L'identificatore corrisponde alla registrazione di 
protocollo in uscita da parte del mittente. 

Regole di corrispondenza 
- l'elemento DescrizioneMessaggio deve essere utilizzato solo per confermare la ricezione di Messaggi non protocollati. 
-->
	<xs:element name="MessaggioRicevuto">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Identificatore"/>
					<xs:element ref="PrimaRegistrazione" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="DescrizioneMessaggio" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoOperazione" type="xs:string"/>
	<xs:element name="UtenteOperazione" type="xs:string"/>
	<xs:element name="DataModifica" type="xs:string"/>
	<xs:element name="ProvvedimentoModifica" type="xs:string"/>
	<xs:element name="ProtocolloMittente">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodiceAmministrazione" minOccurs="0"/>
				<xs:element ref="CodiceAOO" minOccurs="0"/>
				<xs:element ref="NumeroRegistrazione"/>
				<xs:element ref="DataRegistrazione"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProtocolloEmergenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NumeroProtEmergenza"/>
				<xs:element ref="DataProtEmergenza"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroProtEmergenza" type="xs:string"/>
	<xs:element name="DataProtEmergenza" type="xs:string"/>
	<xs:element name="DataArrivo" type="xs:string"/>
	<xs:element name="RiferimentoArrivo" type="xs:string"/>
	<xs:element name="InOut" type="xs:string"/>
</xs:schema>
