old-services/servizicittadino-rest/src/main/resources/wsdl/operatore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cup.sanita.puglia.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cup.sanita.puglia.it/">
	<xsd:complexType name="Operatore">
		<xsd:sequence>
            <xsd:element name="username"  minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="password"  minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="idOpe" minOccurs="0" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
