old-services/servizicittadino-rest/src/main/resources/wsdl/sede.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cup.sanita.puglia.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cup.sanita.puglia.it/">
	<xsd:complexType name="Sede">
		<xsd:sequence>
            <xsd:element name="idSede" nillable="true" type="xsd:string"/>
            <xsd:element name="descSede" nillable="true" type="xsd:string"/>
            <xsd:element name="indirizzoSede" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>			
