old-services/protocollo-service/src/main/resources/wsdl/adoc/protocolloAdocWsdl1.wsdl

<definitions xmlns:tns="http://server.ws.protocollo.linksmt.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.protocollo.linksmt.it/">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.protocollo.linksmt.it/" schemaLocation="protocolloAdocXsd1.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://protocollo.linksmt.it/RichiestaSOAP" schemaLocation="protocolloAdocXsd2.xsd" />
</xsd:schema>
</types>
<message name="getProtocollo">
<part name="parameters" element="tns:getProtocollo" />
</message>
<message name="getProtocolloResponse">
<part name="parameters" element="tns:getProtocolloResponse" />
</message>
<message name="richiestaProtocolloProvvisorio">
<part name="parameters" element="tns:richiestaProtocolloProvvisorio" />
</message>
<message name="richiestaProtocolloProvvisorioResponse">
<part name="parameters" element="tns:richiestaProtocolloProvvisorioResponse" />
</message>
<message name="completamentoProtocolloProvvisorio">
<part name="parameters" element="tns:completamentoProtocolloProvvisorio" />
</message>
<message name="completamentoProtocolloProvvisorioResponse">
<part name="parameters" element="tns:completamentoProtocolloProvvisorioResponse" />
</message>
<message name="addAllegatura">
<part name="parameters" element="tns:addAllegatura" />
</message>
<message name="addAllegaturaResponse">
<part name="parameters" element="tns:addAllegaturaResponse" />
</message>
<message name="getMittenteProtocollo">
<part name="parameters" element="tns:getMittenteProtocollo" />
</message>
<message name="getMittenteProtocolloResponse">
<part name="parameters" element="tns:getMittenteProtocolloResponse" />
</message>
<message name="getDestinatariProtocollo">
<part name="parameters" element="tns:getDestinatariProtocollo" />
</message>
<message name="getDestinatariProtocolloResponse">
<part name="parameters" element="tns:getDestinatariProtocolloResponse" />
</message>
<message name="richiestaProtocollo">
<part name="parameters" element="tns:richiestaProtocollo" />
</message>
<message name="richiestaProtocolloResponse">
<part name="parameters" element="tns:richiestaProtocolloResponse" />
</message>
<portType name="ProtocolloServer">
<operation name="getProtocollo">
<input message="tns:getProtocollo" />
<output message="tns:getProtocolloResponse" />
</operation>
<operation name="richiestaProtocolloProvvisorio">
<input message="tns:richiestaProtocolloProvvisorio" />
<output message="tns:richiestaProtocolloProvvisorioResponse" />
</operation>
<operation name="completamentoProtocolloProvvisorio">
<input message="tns:completamentoProtocolloProvvisorio" />
<output message="tns:completamentoProtocolloProvvisorioResponse" />
</operation>
<operation name="addAllegatura">
<input message="tns:addAllegatura" />
<output message="tns:addAllegaturaResponse" />
</operation>
<operation name="getMittenteProtocollo">
<input message="tns:getMittenteProtocollo" />
<output message="tns:getMittenteProtocolloResponse" />
</operation>
<operation name="getDestinatariProtocollo">
<input message="tns:getDestinatariProtocollo" />
<output message="tns:getDestinatariProtocolloResponse" />
</operation>
<operation name="richiestaProtocollo">
<input message="tns:richiestaProtocollo" />
<output message="tns:richiestaProtocolloResponse" />
</operation>
</portType>
</definitions>